$color-1: #1f1d36;
$color-2: #3F3351;
$color-3: #864879;
$color-4: #E9A6A6;

* { margin: 0;}

body, html, #root, .App{
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: $color-3;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  display: grid;
  grid-template-rows: 58px auto;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(31, 29, 54, 0.8);
  border-radius: 30px;
  margin-right: 0;
}
#navbar{
  z-index: 100;
  width: 100vw;
  height: 6vh;
  position: fixed;
  background-color: $color-1;
  color:white;
  display: flex;
  align-items: center;
  box-shadow: 0px 12px 12px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}
#search-wrapper{
  width: 350px;
  display: flex;
}
#search-bar{
  width: 100%;
  font-size: 1.3rem;
  padding-left: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background-color: aliceblue;
  outline: none;
}

#search-btn{
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: aliceblue;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 10px;
}
#search-btn:hover{
  cursor: pointer;
}
#search-result-container{
  width: 350px;
  min-height: 200px;
  height: fit-content;
  max-height: 500px;
  background-color: aliceblue;  
  position: fixed;
  top: 6vh;
  color:black;
  overflow: scroll;
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
}
#search-result-container ::-webkit-scrollbar{
  width: 10px;
}
#search-result-wrapper{
  border-bottom: 2px solid black;
}
#search-link{
  text-decoration: none !important;
  color:black;
}
#search-result-container::-webkit-scrollbar-thumb{
  background-color: rgb(120, 155, 184);
}
#search-result-container::-webkit-scrollbar-track{
  background-color: rgba(187, 207, 224, 0.4);
}
#search-result{
  display: flex;
  margin: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;
}
#search-result:last-child{
  border: none;
}
#search-result img{
  margin: 0;
  width: 25%;
  height: 25%;
  display: block;
  aspect-ratio: 1 / 1.33333333;
}


//User page
#user-page-wrapper{
  display: grid;
  flex: auto;
  height: 94vh;
  width: 100%;
  grid-template-columns: auto 72%;
  overflow:hidden;
  position: absolute;
  top: 6vh;
}
#navbar a {
  margin-left: 10px;
  color:white;
  text-decoration: none;
}
#user-info-wrapper{
  width: 100%;
  background-color: $color-2;
  color:white;
  display:flex;
  flex-direction: column;
  flex: auto;
  position: sticky;
  height: 94vh;
  box-shadow: 8px 0px 12px 2px rgba(0, 0, 0, 0.25);

}
.title{
  color: white;
  margin-top: 10px;
  text-align: center;
}
#pfp{
  margin: 15px auto;
  width: 80%;
  height: auto;
  max-height: 200px;
  max-width: 200px;
  aspect-ratio: 1/1;
}
#about-me{
  padding-left: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  word-wrap: break-word;
}
#about-me p{
  margin-top: 15px;
  margin-bottom: 15px;
}
#user-info-wrapper button{
  border-top: 1px solid $color-4;
  border: 1px solid $color-4;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  height: fit-content;
  min-height: 5%;
  width: 90%;
  color:white;
  background-color: $color-2;
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
}
#edit-user-info-btn{
  width: fit-content !important;
  margin: 0 !important;
  top: 29%;
  left: 10px;
  min-height: 2rem !important;
  height: 2rem !important;
  font-size: 1rem !important;
  font-weight: 100 !important;
}
#save-user-info-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content !important;
  min-height: 0px !important;
  height: 2rem !important;
  font-size: 1rem !important;
  font-weight: 100 !important;
}
#cancel-user-info-btn{
  position: absolute;
  top: 50px;
  left: 10px;
  width: fit-content !important;
  min-height: 0px !important;
  height: 2rem !important;
  font-size: 1rem !important;
  font-weight: 100 !important;
}
#user-info-wrapper button:active{
  border-top: 2px solid $color-4;
  border-bottom: 2px solid $color-4;
  background-color: $color-1;
}
#AboutMeTextArea{
  width: 90%;
  height: 8rem;
  outline: none;
  resize:none;
  margin-left: 5% !important;
  background-color: $color-2;
  color:white;
  border: 2px solid $color-4;
  border-radius: 10px;
}
#user-info-wrapper button:hover{
  cursor: pointer;
}
#noUser{
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  z-index: 400;
  margin: auto;
  font-size: 6rem;
  color:white;
  position: absolute;
}
#book-list-wrapper{
  margin: auto;
  display:grid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 99.5%;
  height: 90vh;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  row-gap: 30px;
  column-gap: 10px;
  overflow-y: scroll;
}
.book-template-wrapper{
  width: fit-content;
  margin: 0 20px 0 20px;
  aspect-ratio: 1 / 1.33333333;
}

.book-template-wrapper img{
  min-width: 200px;
  width: 100%;
  max-width: 310px;
  display: block;
  margin: auto;
  aspect-ratio: 1 / 1.33333333;
  box-shadow: 12px 12px 12px 2px rgba(0, 0, 0, 0.5);
}
#book-info{
  pointer-events: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  display:flex;
  flex-direction: column;

}


.info-span{
  pointer-events: auto;
  margin: 0 3px;
  width: fit-content;
}
#title-info{
  margin-top: 3px;
}
#book-info-controls{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
#edit-entry-button{
  pointer-events: auto;
  width: 40%;
  height: 3rem;
  background-color: rgba(230, 212, 115, 0.2);
  color:white;
  border: 3px solid rgb(230, 212, 115);
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 20px;
}
#add-note-button{
  pointer-events: auto;
  width:30%;
  background-color: rgba(138, 230, 115, 0.2);
  color:white;
  border: 3px solid rgb(138, 230, 115);
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 20px;
}
#edit-entry-button:hover{
  background-color: rgba(230, 212, 115, 0.4);
  cursor: pointer;
}
#add-note-button:hover{
  background-color: rgba(138, 230, 115, 0.4);
  cursor: pointer;
}
#create-note-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
}
#create-note-form{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 15px;
}
#title-wrapper{
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
}
#title-wrapper select{
  height: 2.3rem;
  border-left: none;
  outline: none;
}
#note-title-input{
  outline: none;
  height: 2rem;
  width: 50%;
  min-width: 180px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#quote-page-input{
  outline: none;
  height: 1.9rem;
  width: 5rem;
  min-width: 50px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#note-body-input{
  outline: none;
  height: 2rem;
  width: 70%;
  min-width: 180px;
  height: 75%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  resize: none;
  border-radius: 5px;
}
#note-body-input::-webkit-scrollbar-thumb{
  background-color: rgba(170, 170, 170, 0.8);
  border-radius: 30px;
  margin-right: 0;
}
#submit-note{
  display: block;
  margin: auto;
  color:white;
  width: 140px;
  font-size: 2rem;
  background-color: rgb(138, 230, 115);
  border: 1px solid black;
}
#submit-note:hover{
  background-color: rgb(119, 202, 98);
  cursor: pointer;
}
#edit-note{
  display: block;
  margin: auto;
  color:white;
  width: 140px;
  font-size: 2rem;
  background-color: rgb(230, 212, 115);
  border: 1px solid black;
}
#edit-note:hover{
  background-color: rgb(216, 200, 107);
  cursor: pointer;
}
#title-warning{
  color:red;
  margin-top: -10px;
  margin-bottom: 10px;
}
#body-warning{
  color:red;
  margin: auto;
}

#edit-entry-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
}
#edit-entry-form{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 15px;
}
#edit-entry-button-wrapper{
  display:flex;
  align-items: center;
  flex-direction: row-reverse;
  height:30%;
  width: 100%;
}
#delete-btn{
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  background-color: rgb(224, 72, 72);
  border: none;
  border-radius: 5px;
  color:white;
}
#delete-btn:hover{
  cursor: pointer;
  background-color: rgb(182, 55, 55);
}
#edit-btn-userpage{
  height: 100%;
  min-height: fit-content;
  width:35%;
  font-size: 1.3rem;
  background-color: rgb(230, 212, 115);
  border: none;
  border-radius: 10px;
  margin-right: 32%;
  margin-left: 10%;
}
#edit-btn-userpage:hover{
  background-color: rgb(216, 200, 107);
  cursor: pointer;
}
#delete-confirmation{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 15%;
  background-color: white;
  color:red;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.4)

}
#delete-confirmation button{
  width: fit-content;
  height: 2rem;
  font-size: 1rem;
  background-color: rgb(224, 72, 72);
  border: none;
  border-radius: 5px;
  color:white;
  margin: auto;
}
#delete-confirmation button:hover{
  cursor: pointer;
  background-color: rgb(177, 68, 68);

}

// Book page 
#book-page-wrapper{
  top: 6vh;
  position: absolute;
  height: 94vh;
  display: grid;
  width: 100%;
  grid-template-columns: auto 72%;
  overflow-y: scroll;
  overflow-x:hidden;

}
#book-info-wrapper{
  width: 100%;
  background-color: $color-2;
  color:white;
  display:flex;
  flex-direction: column;
  flex: auto;
  position: sticky;
  height: 100%;
  box-shadow: 0px 60px 32px 2px rgba(0, 0, 0, 0.4);
}
#book-info-wrapper h1{
  margin: 10px 5px 0 5px;
}
@mixin border(){
  content: "";
  display:block;
  border-top: 1px solid $color-4;
  width: 25vw;
  height: 4px;
  margin: auto;
}
#book-info-wrapper h1::after{
  //@include border();
}
#book-info-wrapper h2{
  margin-bottom: 10px;
}
#cover{
  width: 50%;
  margin: 10px auto 15px;
}
#summary{
  white-space: pre-wrap;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
}
#summary::before{
  //@include border();
}
#author{
  width: 100%;
  text-align: center;
}
#page-count{
  padding-left: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  margin-top: -7px;
}
#page-count::before{
 // @include border();
}
#volume-info-wrapper p{
  color:black;
}
#published-date{
  padding-left: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  margin-top: -7px;
}
#published-date::before{
 // @include border();
}
#book-note-list-wrapper{
  display:flex;
  flex-direction: column;
}
#Note-wrapper{
  grid-column: 1/-1;
  width: 90%;
  max-width: 800px;
  height: fit-content;
  margin: 2vh auto;
  background-color: #FFF;
  color:black;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
#note-header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  min-height: 5vh;
  height: fit-content;
  background-color: rgb(214, 213, 213);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#title{
  margin-left: 5px;
  font-size: 1.5rem;
}
#author-wrapper{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5px;
  text-decoration: none;
  color:black;
}
#note-author{
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 5px;
}
#author-wrapper img{
  height: 4vh;
  aspect-ratio: 1/1;
}
#note-body{
  overflow: hidden;
  white-space: pre-wrap;
  margin: 5px;
}
#note-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  min-height: fit-content;
  min-height: 3vh;
  height: fit-content;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#like-wrapper{
  display:flex;
  align-items: center;
}
.like{
  background-color: white;
  border: none;
  font-size: 1.8rem;
  border-bottom-right-radius: 4px;
}
.like:hover{
  cursor: pointer;
}
.like-icon{
  pointer-events: none;
}
#note-date{
  margin-left: 5px;
}
#like-count{
  font-size: 1.3rem;
}
@mixin book-info-button{
  border-top: 1px solid $color-4;
  border: 1px solid $color-4;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  max-height: 5vw;
  height: 6vh;
  min-height: fit-content;
  width: 90%;
  max-width: 350px;
  color:white;
  background-color: $color-2;
  margin: auto;
  margin-top: 0;
}
#book-info-wrapper button:hover{
  cursor: pointer;
}
#book-info-wrapper button:active{
  border-top: 2px solid $color-4;
  border-bottom: 2px solid $color-4;
  background-color: $color-1;
}
#remove-edit-wrapper{
  display:flex;
  min-height: 5%;
  margin-bottom: 15px;
  flex-direction: column;
}
#edit-entry{
  @include book-info-button();
  margin-bottom: 15px;
}
#remove-entry{
  @include book-info-button();
}
#add-entry{
  @include book-info-button();
  margin-bottom: 15px;
}
#add-note{
  @include book-info-button();
  margin-bottom: 15px;
}
#popup-wrapper{
  position: absolute;
  height: 100%;
  width: 100vw;
}
.popup-form{
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  width: 50vw;
  height: 35vh;
  color:black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.3);
}
#remove-form button{
  width: 50%;
  height: 15%;
  font-size: 2rem;
  background-color: rgb(224, 72, 72);
  border: none;
  border-radius: 5px;
  color:white;
}
#remove-form span{
  font-size: 2rem;
}
#rating{
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
}
#rating input{
  position: absolute;
  top: 1000%;
}
#rating label{
  color:#bab5b5;
}
#rating label:hover{
  cursor: pointer;
}
#rating > input:checked ~ label {
    color: #ffc700;    
}
#rating label:hover,
#rating label:hover ~ label {
  color: #ffc700;    
}
#rating input:checked ~ label:hover,
#rating input:checked ~ label:hover ~ label{
  color: #ad8f20b6;
}
#add-form{
  height: 15vh;
}
#status-select{
  padding: 3px 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

#add-btn{
  width: 25%;
  height: 25%;
  min-height: fit-content;
  font-size: 1.3rem;
  background-color: rgb(123, 228, 123);
  border: none;
  border-radius: 10px;
}
#add-btn:hover{
  background-color: rgb(91, 197, 91);
}
#edit-btn{
  width: 25%;
  height: 25%;
  min-height: fit-content;
  font-size: 1.3rem;
  background-color: rgb(230, 212, 115);
  border: none;
  border-radius: 10px;
}
#edit-btn:hover{
  background-color: rgb(216, 200, 107);
  cursor: pointer;
}
#title-edit-wrapper{
  display: flex;
  flex-direction: row;
}
button{
  transition: background-color 150ms ease-in-out;
}
#search-link{
  margin: 0 !important;
}
#search-page{
  position: absolute;
  top: 6vh;
  height: 94vh;
  width: 100%;
  overflow: hidden;

}
#search-page-result-wrapper{
  position: absolute;
  width: 100%;
  height: 94vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#search-result-wrapper-sp{
  width: 100%;
  max-width: 1000px;
  max-height: 400px;
  background-color: $color-4;
  box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
#volume-info-wrapper-sp{
  width: 100%;
  height: 100%;
  max-height: 400px;
}
#sp-img{
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1 / 1.33333333;
  padding-right: 10px;
}
#authorSearch-sp{
  border-bottom: 2px solid $color-1;
  width: 100%;
  margin-bottom: 10px;
}
#summarySearch-sp{
  height: 100%;
  overflow: auto;
  border-bottom: 2px solid $color-1;
  max-height: 200px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.page-btn{
  border: 2px solid $color-4;
  background-color: $color-2;
  color:white;
  border-radius: 4px;
  font-size: 2rem;
  margin: 5px 5px;
}
.page-btn:hover{
  background-color: $color-1;
  cursor: pointer;
}
#search-button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}










@media only screen and (max-width: 1100px){
  #book-list-wrapper{
    display: relative;
    column-gap: 15px;
  }
  .book-template-wrapper{
    margin: 0 20px 0 20px;

  }
}

@media only screen and (max-width: 727px){
  #navbar{
    box-shadow: 0px 12px 12px 2px rgba(0, 0, 0, 0.1);
  }
  #book-list-wrapper{
    padding-top: 27vh;
    height: 67vh;
  }
  .book-template-wrapper{
    height: fit-content;
    width: 100%;
    margin: 0;
  }
  .book-template-wrapper img{
    min-width: 10px;
    width: 100%;
    max-width: 310px;
    display: block;
    aspect-ratio: 1 / 1.33333333;
  }
  #user-page-wrapper{
    display: grid;
    height: 94vh;
    width: 100%;
    grid-template-columns: 100%;
    overflow:hidden;
  }
  #user-info-wrapper{
    height: 19vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: [pfp] 6vh [name] 1fr 1fr 1fr [last] 1fr;
    grid-template-rows: 6vh 13vh 5vh;
    box-shadow: 0px 60px 32px 2px rgba(0, 0, 0, 0.4);
  }
  .title{
    grid-column-start: name;
    grid-column-end: 4;
    height: 10px;
    margin: 8px;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: start;
    width: 75%;
    height:fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #pfp{
    grid-column-start: pfp;
    grid-row-start: 1;
    height: 90%;
    width: 90%;
    margin: 0;
    margin-top: 4px;
    margin-left:4px;
  }
  #user-info-wrapper button{
    height: 40px;
    font-size: 0.9rem;
    min-width: 0px;
    width: 25vw;
    max-width: 100vw;
    border-radius: 0px;
    border-right: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #user-info-wrapper button:active{
    border-top: none;
  }
  #finished{
    grid-column-start: 1;
  }
  #current{
    grid-column-start: 3;
  }
  #dropped{
    grid-column-start: 4;
  }
  #plan{
    grid-column-start: 5;
  }

  #about-me{
    margin-left: 6px;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    overflow: auto;
  }
  #about-me p{
    font-size: 1rem;
    margin-top: 5px;
  }
  #book-page-wrapper{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  #book-info-wrapper{
    overflow: auto;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-auto-rows: min-content;
    box-shadow: none;
  }
  #add-note{
    grid-column: 4;
    grid-row: 4;
    min-height: 40px;
    font-size: 1rem;
    margin-bottom: 0;
  }
  #title{
    height:fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.2rem;
    overflow: visible;
    padding-left: 5px;
  }
  #author{
    grid-row: 2;
    text-align: start;
    margin-left: 10px;
  }
  #cover{
    grid-column-start: 1;
    width: 100%;
    max-width: 140px;
    aspect-ratio: 1 / 1.33333333;
  }
  #summary{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; 
    overflow: auto;
    height: 20vh;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
  }

  #summary h2{
    visibility: hidden;
    position: absolute;
    top: -9999px;
  }
  #remove-edit-wrapper{
    min-width: 100%;
    flex-direction: row-reverse;
    justify-content: end;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100px;
    align-items: center;
    margin: 0;
  }
  #edit-entry{
    margin: 0;
    margin-right: 5px;
    min-height: 50%;
  }
  #remove-entry{
    margin: 0;
    margin-left: 5px;
    min-height: 50%;
  }
  #page-count{
    padding: 0;
    margin: 0;
    grid-row: 4;
    height: 100%;
    text-align: center;
  }
  #published-date{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
    padding: 0;
    margin: 0;
    text-align: start;
    padding-bottom: 5px;
  }
  #add-entry{
    min-width: 100%;
    flex-direction: row-reverse;
    justify-content: end;
    grid-column: 3;
    grid-row: 1;
    width: 100px;
    align-items: center;
    margin: 0;
  }
  #book-note-list-wrapper{
    padding: 20px 0px;
  }
  #search-result-container{
    width: 100vw;
    left: 0;
  }
  #edit-user-info-btn{
    position: static;
    height: 40px !important;
    display: block;
    grid-column: 5;
    border-radius: 0 !important;
    width: 100% !important;
  }
  #edit-user-info-btn:active{
    border: 1px solid $color-4 !important;
    border-right: none !important;
  }
  #save-cancel-container{
    grid-column: 5;
    grid-row: 1;
  }
  #save-user-info-btn{
    height: 40px !important;
    position: static;
    grid-column: 5;
    border-radius: 0 !important;
    width: 50% !important;
  }
  #cancel-user-info-btn{
    height: 40px !important;
    position: static;
    top:10px;
    grid-column: 3;
    border-radius: 0 !important;
    width: 50% !important;
  }
  #AboutMeTextArea{
    max-height: 80%;
    margin-top: 5px;
  }
  #notes{
    grid-row: 1;
    grid-column: 4;
    max-width: 100%;
    border-radius: 0 !important;
  }
}
